h1 {
    font-size: 65px;
}

.container {
    margin: auto;
}
.username {
    padding-left: 25px;
    background: url("/group2_padawans141/signup/assets/Page-1.png") no-repeat 30px;
    background-size: 15px;
}

.email {
    padding-left: 25px;
    background: url("/group2_padawans141/signup/assets/Page-1.png") no-repeat 30px;
    background-size: 15px;
}

.pass {
    padding-left: 25px;
    background: url("/group2_padawans141/signup/assets/Page-1.png") no-repeat 30px;
    background-size: 15px;
}

.side-img {
    float: left;
}

.container {
    display: flex;
    justify-content: center;
}

.iconbuttons {
    display: flex;
    justify-content: space-evenly;
}
