.card-body {
    background-color: blue;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    margin: 0%;
    text-align: left;
}

.box {
    border: 1px solid rgb(0, 0, 0);
    width: 5vh;
    margin: auto;
    padding: auto;
    text-align: left;
}

.footer {
    background-color: #2270b9;
    height: 25vh;
    width: 100%;
    text-align: center;


}

.sign {
    align-content: right;
    padding: 25%;
    margin-inline-start: 20%;
}

.start {
    border: 1px solid black;
    height: 40%;
    width: 100%;
    text-align: center;
    padding: 5%;
}

.white-dot::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}

.blue-dot::before {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: rgb(6, 14, 119);
    border-radius: 50%;
    margin-right: 5px;
}
.credit {
    width: auto;
    height: auto;
}